<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ProjectAltis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="ProjectAltisLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><userSettings>
        <ProjectAltis.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Background" serializeAs="String">
                <value>TTC</value>
            </setting>
            <setting name="WantsCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WantsClickSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WantsRandomBg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Deprecated</value>
            </setting>
            <setting name="WantsPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </ProjectAltis.Properties.Settings>
        <ProjectAltisLauncher.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="background" serializeAs="String">
                <value>TTC</value>
            </setting>
            <setting name="wantsCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wantsGameDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wantsClickSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wantsRandomBg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Deprecated</value>
            </setting>
        </ProjectAltisLauncher.Properties.Settings>
    </userSettings>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <probing privatePath="x86" />
      </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
